<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Some Website</title>
  </head>
  <body>
    {{>header}}
    <h2>Maintenance</h2>
    <p>The website will come back soon</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
